@model Diet__Fix.Models.DietType

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DietType</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KetoDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KetoDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaleoDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaleoDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PescDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PescDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MediDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MediDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdNavigation.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
